*{
    margin: 0;
    padding:0 ;
}
body{
    background-color: aquamarine;
}
button{
    background-color: rgb(255, 10, 10);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    
}